body{
    background: #E5E5E5;;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.title-text{
    font-size: 14px;
    color: #E76F51;
}
#banner{
    background: #264653;
}
.text-size{
    font-size: 14px;
}
.btn-custom{
    border: 1px solid #E76F51;
    padding: 10px 40px;
    background: #E76F51;
    color: #fff;
    border-radius: 5px;
    transition: .5s;
}
.btn-custom:hover{
    color: #E76F51;
    border: 1px solid #E76F51;
    background: none;
}
/* featured bike part sart */
.color-img{
    filter: brightness(.9) grayscale(100%) ;
}
.color-img_2{
    filter: brightness(.9);
}

/* client say */
.text-color{
    color: #E76F51;
}
.card-image{
    width: 149px;
    height: 149px;
    border-radius: 50%;
}
.card-padding{
    padding: 40px 35px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    
}
.icon-fill{
    color: #E77C40;
}
.icon-unfill{
    border-image:#E77C40 ;
}
.text-hight{
    line-height: 0;
}
.text-width{
    width: 63%;
}
/* Accessories  */
#accessories{
    background: #afc8d13d;
}
/* footer */
footer{
    background: #000;
}
.footer-bottom{
    margin-bottom: 0;
}



