body{
    background: #E5E5E5;;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.title-text{
    font-size: 14px;
    color: #E76F51;
}
#banner{
    background: #264653;
}
.banner-text{
    font-size: 14px;
}
.btn-custom{
    padding: 10px 46px;
    background: #E76F51;
    color: #fff;
    border-radius: 5px;
}
.btn-custom:hover{
    color: #fff;
}
/* fetured bike part sart */
.color-img{
    filter: brightness(.9) grayscale(100%) ;
}
.color-img_2{
    filter: brightness(.9);
}
